$avenir: "Avenir Next";
$workSans: "Work Sans";
$fontNormal: "normal";
$fontBold: "bold";

// use this one
$s-1: 0.1rem;
$s-8: 0.8rem;
$s-half: 50%;
$s-full: 100%;
$s-quarter: 25%;
$md-screen-bk: 768px;
$w10-px: 10px;
$w50-px: 50px;
$w20-px: 20px;
$w30-px: 30px;
$w40-px: 40px;
$w90-px: 90px;
$w140-px: 140px;
$l-7-7: 7.7rem;
$l-10: 10rem;

// end here

$w80-p: 80%;
$w28-p: 28%;
$w70-p: 70%;
$w10-p: 10%;
$w26-p: 26%;
$w3-p: 3%;
$w4-p: 4%;
$w23-p: 23%;
$w30-p: 30%;

$primary-color1: #213f7d;
$secondary-color1: rgb(84, 95, 125);
$secondary-color1-faint: rgba(84, 95, 125, 0.1);
$status-pending: rgb(233, 178, 0);
$status-pending-faint: rgba(233, 178, 0, 0.1);
$status-active: rgb(57, 205, 98);
$status-active-faint: rgb(57, 205, 98, 0.1);
$status-blacklisted: rgb(228, 3, 59);
$status-blacklisted-faint: rgb(228, 3, 59, 0.1);
$primary-color2: #39cdcc;
$faint-color: rgba(200, 200, 200, 0.3);
$error-color: #dc343b;
